@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro');

body {
  font-family: 'Montserrat', monospace;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 100vh;
  margin: 0;
}

header {
  background-color: #e1eaea;
}

section.title {
  font-size: 5em;
  font-size: 5vw;
  line-height: 6vw;
  text-align: center;
}

section.title h1:hover {
  text-decoration: line-through;
  cursor: pointer;
}

section.title h1 {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
}

section.title h1 {
  color: #151e1e;
}
section.title h1.emphasize {
  color: #344c4c;
}

main {
  /*overflow: hidden;*/
}

section.art-frame {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.load-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.load-wrap .loading {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.load-icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.load-icon div {
  width: 3vw;
  height: 3vw;
  border: .5vw solid black;
  box-sizing: border-box;
}

.load-icon div:first-child {
  background-color: white;
  border-right-width: 0;
  border-bottom-width: 0;
  animation: c1 5s ease-out 0s infinite;
}
.load-icon div:nth-child(2) {
  background-color: #ffe04d;
  border-bottom-width: 0;
  animation: c2 5s ease-out 0s infinite;

}
.load-icon div:nth-child(3) {
  background-color: #ff1a1a;
  border-right-width: 0;
  box-sizing: content-box;
  animation: c3 5s ease-out 0s infinite;
}
.load-icon div:last-child {
  background-color: #1a1aff;
  animation: c4 5s ease-out 0s infinite;
}*/

section.art-frame .details-bar {
  position: absolute;
  top: 100%;
  z-index: 1;
  font-size: 2vw;
  color: black;
  width: 100%;
  height: 5vh;
  /* For browsers w/o gradient support */
  background: rgba(255, 255, 255, 0.5);
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.0), white);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0.0), white);
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.0), white);
  /* Standard syntax */
  background: linear-gradient(rgba(0, 0, 0, 0.0), white);

  transform: translate(0%, -100%);
  /*-webkit-transition: opacity .5s; /* Safari */*/
  /*transition: opacity .5s;*/
}
.details-bar:hover {
  cursor: pointer;
}

.details-bar i {
  opacity: inherit;
  display: inline-block;
  position: relative;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: bouncing 20s ease-in 20s infinite;
}
@keyframes bouncing {
  0% {top: 50%}
  5% {top: calc(100%);}
  10% {top: 50%}
}

section #art {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 100%;
  width: 100%;
}

nav {
  padding: 1.5vw 1.5vw;
  transform: translateY(20vh);
}

nav a {
  font-size: 1.3em;
  display: block;
  box-sizing: border-box;
  text-align: right;
  color: #0a0f0f;
  text-decoration: none;
  margin-bottom: 5px;
  border-right: 0px solid transparent;
  padding-right: 0px;
  transition: border-right-width .3s ease, border-right-color .3s ease;
}

nav a:hover {
  border-right-width: 3px;
  border-right-color: #0a0f0f;
  padding-right: 3px;
}

aside {
  padding: 1.5vw 1.5vw;
}

aside .p-wrap {
  position: relative;
}
.p-wrap p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.img-wrap {
  position: relative;
  overflow: hidden;
  height: 50vh;
  width: auto;
}

.img-wrap img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
aside .description {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
